footer.site-footer {
  outline: 2px dashed #00bcd4; /* nur zum Testen */
}

footer.site-footer > .footer-container {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-wrap: wrap;
  width: 100%;
}

.site-footer .footer-line:first-child {
  text-align: left;
}

.site-footer .footer-line:last-child {
  margin-left: auto;
  text-align: right;
}

body {
  background: red !important;
}
